{% extends "flights/layout.html" %}

{% block body %}
	 <h1>Flight {{flight.id }}</h1>

	 <ul>
		<li>Origin: {{ flight.origin }}</li>
		<li>Destination: {{ flight.destination }}</li>
		<li>Duration: {{ flight.duration }}</li>
	 </ul>

	 <h2>Passengers</h2>
	 <ul>
		{% for i in passengers %}
			<li>{{ i }}</li>
		{% empty %}
			<li>No passengers</li>
		{% endfor %}
	 </ul>

	 <h2>Add Pasenger</h2>

	 <!-- Give to the views.book a flight_id -->
	 <form action="{% url 'book' flight.id %}" method="POST">
		{% csrf_token %}
		<select name="passenger">
			{% for i in non_passengers %}
				<option value="{{ i.id }}">{{ i }}</option>
			{% endfor %}
		</select>
		<input type="submit">
	 </form>

	 <a href="{% url 'index' %}">Back to Flight List</a>
{% endblock %}